@import 'planter';

// ** White Space!
html {
  margin: 12px 6%;
  color: red;
}

// ** Make my links look fancy
a {
  text-decoration: none;
  color: $brand-5;
  font-weight: 500;
  padding-bottom: 1px;
  transition: 0.2s ease-in all;
  border-bottom: 2px solid $brand-5;
  &:hover {
    color: darken($brand-5, 25%);
    border-bottom: 2px solid darken($brand-5, 25%);
  }
}

// ** Logo size: just right.
.logo {
  max-width: 200px;
}

// ** Vertically & horinzontally center my content
.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -70%)
}
