{{#extend "layout" page="home"}}
  {{#content "body" mode="prepend"}}
    <div class="page">
      <div class="demo">
        {{log this}}
        <img class="logo" src="{{@root.assets.static}}/planter-logo.svg" alt="logo">
        <h1>Welcome to Planter {{@root.planter.version}}</h1>
        <p>An HTML, CSS, and JS boilerplate for creatives.</p>
      </div>
    </div>
  {{/content}}
{{/extend}}