<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon link -->
  <!-- IE 6-10 -->
  <link rel="shortcut icon" href="./favicon.ico">
  <!-- Everyone else -->
  <link rel="icon" href="./favicon.ico">
  <!-- Main Stylesheet -->
  <link href="./{{@root.assets.css}}" rel="stylesheet">
  <title>{{@root.site.title}}</title>
</head>