<!DOCTYPE html>
<html lang="{{@root.site.lang}}">
  {{> head }}
<body>
  {{> nav this.page }}
  {{#block "body"}}
    <script type="text/javascript" src="{{@root.assets.js}}"></script>
  {{/block}}
</body>
</html>