<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon link -->
  <!-- IE 6-10 -->
  <link rel="shortcut icon" href="./favicon.ico">
  <!-- Everyone else -->
  <link rel="icon" href="./favicon.ico">
  <!-- Main Stylesheet -->
  <link href="./{{site.assets.css}}" rel="stylesheet">
  <title>{{site.title}}</title>
</head>
<body>
  {{#block "main"}}
  {{/block}}
  <script type="text/javascript" src="./{{site.assets.js}}"></script>
</body>
</html>